$mainColor : rgb(4, 122, 237);
$secondColor: rgb(75, 165, 255);
$help: rgb(255, 206, 52);

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

* {
    font-family: sans-serif;
}

.contain-weather {
    display: grid;
    // background-color: red;
    flex-direction: column;
}

.NameApp {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: $mainColor;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}