/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
* {
  font-family: sans-serif;
}

.contain-weather {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.NameApp {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #047aed;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}
/*# sourceMappingURL=app.css.map */