/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .days {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .day {
    font-size: 17px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .days {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .day {
    font-size: 17px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .day {
    font-size: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .temp {
    font-size: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
.days {
  display: -ms-grid;
  display: grid;
}

.day {
  font-weight: bold;
}

.days-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-day {
  width: 80px;
  height: 80px;
}

.temp {
  text-align: center;
  font-weight: bold;
}

.date {
  margin: 10px 0px;
  color: #047aed;
}

.day, .temp {
  margin: 0px 13px;
}
/*# sourceMappingURL=days.css.map */