$mainColor : rgb(4, 122, 237);
$secondColor: rgb(75, 165, 255);
$help: rgb(255, 206, 52);

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .days {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .day {
        font-size: 17px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .days {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .day {
        font-size: 17px;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .day {
        font-size: 20px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .temp {
        font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.days {
    display: grid;
    
}
.day {
    font-weight: bold;
}
.days-day {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-day {
    width: 80px;
    height: 80px;
}
.temp {
    text-align: center;
    font-weight: bold;
}
.date {
    margin: 10px 0px;
    color: $mainColor;
}
.day, .temp {
    margin: 0px 13px;
} 