$mainColor : rgb(4, 122, 237);
$secondColor: rgb(75, 165, 255);
$help: rgb(255, 206, 52);

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contain-controls {
        grid-template-columns: 25% 75%;
        height: 30px;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .contain-controls {
        grid-template-columns: 150px auto auto;
        height: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .contain-controls {
        grid-template-columns: 200px auto auto;

    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

.contain-controls {
    display: grid;
}
.search {
    cursor: pointer;
    margin-right: 5px;
    border: transparent;
    background-color: $secondColor;

}
.city {
    border: transparent;
    font-size: 17px;

}