/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contain-controls {
    -ms-grid-columns: 25% 75%;
        grid-template-columns: 25% 75%;
    height: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .contain-controls {
    -ms-grid-columns: 150px auto auto;
        grid-template-columns: 150px auto auto;
    height: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contain-controls {
    -ms-grid-columns: 200px auto auto;
        grid-template-columns: 200px auto auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

.contain-controls {
  display: -ms-grid;
  display: grid;
}

.search {
  cursor: pointer;
  margin-right: 5px;
  border: transparent;
  background-color: #4ba5ff;
}

.city {
  border: transparent;
  font-size: 17px;
}
/*# sourceMappingURL=controller.css.map */