$mainColor : rgb(4, 122, 237);
$secondColor: rgb(75, 165, 255);
$help: rgb(255, 206, 52);

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.name-city {
    margin: 15px 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.weather-day {
    display: flex;
    flex-direction: column;
}
.image-day {
    width: 200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.temp-day {
    font-size: 40px;
    text-align: center;
    margin: 10px 0px;
}
.forecast-day {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    font-size: 20px;
}
.forecast-day div {
    // margin: 5px 0px;
}
.forecast-day .date {
    margin: 10px 0px;
    font-size: 20px;
    color: $mainColor;
}
.hr {
    margin: 0px 10px;
}
