/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.name-city {
  margin: 15px 0px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.weather-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-day {
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.temp-day {
  font-size: 40px;
  text-align: center;
  margin: 10px 0px;
}

.forecast-day {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  text-align: center;
  font-size: 20px;
}

.forecast-day .date {
  margin: 10px 0px;
  font-size: 20px;
  color: #047aed;
}

.hr {
  margin: 0px 10px;
}
/*# sourceMappingURL=weatherOneDay.css.map */